/**
** A (more) modern css reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  padding: 0; // original
  margin: 0; // original
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  color: currentcolor;
  text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/*
** original reset
*/
hr {
  height: 0;
  color: inherit;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

pre {
  font-size: 1em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

iframe {
  border-style: none;
}

img {
  height: auto;
  border-style: none;
}
