@use "../variables" as v;
.pickup {
  &-swiper {
    &-slide {
      background-color: var(--white);
      max-width: 60%;
      margin: 0;
      img {
        margin: 0 auto;
      }
      @include v.media(mobile) {
        max-width: 90%;
      }
    }
    &-arrow {
      position: static;
      pointer-events: auto;
      font-size: 5rem;
      width: 82.5px;
      height: 165px;
      aspect-ratio: 1;
      border: none;
      background-color: var(--yellow);
      color: var(--black);
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &-button {
    &-prev {
      border-radius: 100% 0 0 100% / 50%;
    }
    &-next {
      border-radius: 0 100% 100% 0 / 50%;
    }
  }
}
// コンテンツ毎のボタン設定
.swiper-button {
  @extend %absolute-center;
  width: 100%;
  z-index: 9;
  pointer-events: none;
  @include v.flex;
}
