/** ==============================
** フロントページ
**================================ */
@use "../variables" as v;

.kv {
  background-color: var(--white);
  @include v.media(mobile) {
    width: 100%;
    height: auto;
  }

  &-img {
    height: 100%; // サンプル用
    margin: 0 auto; // サンプル用
  }
}

.pickup {
  &-product {
    margin: 9rem 0;

    @include v.media(mobile) {
      margin: 3rem 0;
    }
  }
  &-card {
    // max-width: 80%; // 検証
    // max-height: 407px; // 検証
    //margin: 0 3rem;
    background-color: #fff; // 検証

    @include v.media(mobile) {
      margin: 0 1rem;
    }

    img {
      margin: 0 auto;
    }
  }

  .seal-block {
    width: 100%;
    max-width: 1440px;
    height: 100%;

    @extend %absolute-center;
  }
}
