/** ==============================
** フロントページ
**================================ */
@use "../variables" as v;

.kv {
  height: 515px; // サンプル用
  background-color: #fff; // サンプル用
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;

  @include v.media(mobile) {
    width: 100%;
    height: auto;
  }

  &-img {
    height: 100%; // サンプル用
    margin: 0 auto; // サンプル用
  }
}

.pickup {
  &-product {
    margin: 9rem 0;

    @include v.media(mobile) {
      margin: 3rem 0;
    }
  }
  &-card {
    max-width: 80%; // 検証
    // max-height: 407px; // 検証
    margin: 0 3rem;
    background-color: #fff; // 検証

    @include v.media(mobile) {
      margin: 0 1rem;
    }

    img {
      margin: 0 auto;
    }
  }

  .seal-block {
    width: 100%;
    max-width: 1440px;
    height: 100%;

    @extend %absolute-center;
  }

  &-slider {
    position: relative;
    .slick {
      &-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        width: 82.5px;
        height: 165px;
        aspect-ratio: 1;
        font-family: "Material Symbols Rounded";
        font-size: 5rem;
        cursor: pointer;
        background-color: var(--yellow);
        border: none;
        transform: translateY(-50%);
        transition: all 0.25s ease;

        &:hover {
          transform: translateY(-50%) scale(1.2);

          @include v.media(mobile) {
            transform: translateY(-50%);
          }
        }
      }

      &-prev {
        left: 25%;
        border-radius: 100% 0 0 100% / 50%;

        @include v.media(mobile) {
          left: 1rem;
        }
      }

      &-next {
        right: 25%;
        border-radius: 0 100% 100% 0 / 50%;

        @include v.media(mobile) {
          right: 1rem;
        }
      }
      &-slider {
        position: relative;
        overflow: visible;
        &-wrapper {
          display: flex;
          gap: 0;
        }
        &-slide {
          max-width: 65vw;
        }
      }

      // &-arrow {
      //   color: var(--black);
      //   position: absolute;
      //   top: 50%;
      //   width: 82.5px;
      //   height: 165px;
      //   aspect-ratio: 1;
      //   font-family: "Material Symbols Rounded";
      //   font-size: 5rem;
      //   cursor: pointer;
      //   background-color: var(--yellow);
      //   border: none;
      //   transform: translateY(-50%);
      //   transition: all 0.25s ease;

      //   &:hover {
      //     transform: translateY(-50%) scale(1.2);

      //     @include v.media(mobile) {
      //       transform: translateY(-50%);
      //     }
      //   }
      // }
      // &-prev {
      //   left: 25% !important;
      //   border-radius: 100% 0 0 100% / 50%;

      //   @include v.media(mobile) {
      //     left: 1rem;
      //   }
      // }
      // &-next {
      //   right: 25% !important;
      //   border-radius: 0 100% 100% 0 / 50%;

      //   @include v.media(mobile) {
      //     right: 1rem;
      //   }
      // }
    }
  }
}
.tag {
  &-item {
    position: relative;

    .link {
      padding: 2.5rem 5rem;
    }

    &.disabled {
      margin-top: 2rem;
    }
  }

  &-name {
    margin-bottom: 1rem;
    font-size: var(--font-lg);
  }

  &-content {
    font-weight: 500;
  }
}

.school-prep {
  padding-bottom: 7rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 3rem;
}
