/** ==============================
** フロントページ
**================================ */
@use '../variables' as v;

.kv {
  background-color: var(--white);

  @include v.media(mobile) {
    width: 100%;
    height: auto;
  }

  &-imgbox {
    width: 100%;
  }

  &-img {
    height: 100%; // サンプル用
    margin: 0 auto; // サンプル用
  }

  > .container {
    gap: 3rem;

    @include v.flex;
  }

  &-textarea {
    max-width: 35%;
    text-align: center;
  }

  &-content {
    margin-bottom: 1.5rem;
  }

  &-title {
    margin-bottom: 1rem;
  }

  &-link {
    max-width: 45%;
    font-weight: var(--font-weight-black);
  }
}

.pickup {
  &-product {
    margin: 9rem 0;

    @include v.media(mobile) {
      margin: 3rem 0;
    }
  }

  .seal-block {
    width: 100%;
    max-width: 1440px;
    height: 100%;

    @extend %absolute-center;
  }
}

.problem {
  &-list {
    max-width: 90%;
    margin-inline: auto;
  }

  &-card {
    padding: 2rem;

    &-imgbox {
      aspect-ratio: 16 / 9;
    }

    &-img {
      max-width: 100%;
      height: auto;
    }
  }

  .card-content {
    font-size: var(--font-md);
    font-weight: var(--font-weight-medium);
  }
}

.feature {
  &-list {
    display: grid;
    gap: 3rem;

    &-item {
      padding-bottom: 1rem;
    }

    &-title {
      margin-bottom: 0.5rem;
    }
  }
}

.howto {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &-item {
    position: relative;
    display: inline-flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 50%;

    &::after {
      position: absolute;
      top: 100%;
      left: 55%;
      width: 2px;
      height: 7rem;
      content: '';
      border: dashed 2px var(--navy);
      transform-origin: top;
    }

    &:first-child {
      align-self: flex-start;

      &::after {
        transform: rotate(-50deg) translateX(100%);
      }
    }

    &:nth-child(2) {
      align-self: center;

      &::after {
        transform: rotate(-50deg) translateX(50%);
      }
    }

    &:last-child {
      align-self: flex-end;

      &::after {
        display: none;
      }
    }
  }

  &-imgbox {
    position: relative;
    max-width: 250px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 100%;
  }

  &-content {
    display: grid;
    gap: 2rem;
  }

  &-text {
    font-size: 1.14rem;
    text-align: center;
  }
}

.prep {
  &-list {
    position: relative;
    max-width: 90%;
    margin-inline: auto;

    @include v.media(sp) {
      grid-template-columns: auto;
    }
  }

  &-card {
    grid-template-rows: 1fr auto;

    &-content {
      height: 100%;
      text-align: center;
    }

    &[data-card='first-action'] {
      grid-column: span 2;
      max-width: 100%;
    }
  }

  &-imgbox {
    aspect-ratio: auto;
  }
}

.adminvoice {
  &.container {
    max-width: 70%;
  }

  .main-layout-reverse {
    width: 80%;
    margin: 0 auto;
  }

  &-left {
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 100%;
  }

  &-message {
    margin-bottom: 3rem;
  }

  &-name {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
  }
}
