@use "../variables";

.card {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
  color: var(--black); //カードがaタグだった場合の処理
  @at-root a#{&} {
    &:visited,
    &:active {
      color: var(--black); //カードがaタグだった場合の処理
    }
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 2rem;
    align-items: stretch;
  }

  &-content {
    display: grid;
    gap: 0.5rem;
  }

  &-imgbox {
    display: grid;
    place-items: center;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    img {
      width: auto;
      height: 100%;
    }
  }

  &-sublist {
    @extend %list-disc;
  }

  &-link {
    color: var(--black);

    &:visited,
    &:active {
      color: var(--black);
    }
  }
}
